extends layout

block notice
  if (!user)
    .col-sm-14.col-sm-offset-0
      h2 Signin with GitHub
      form(method='POST')
        legend Sign in via GitHub
        p
          | We use GitHub for collaboration and automation.  Please sign in with Github,
          | and make a free GitHub account if you don't have one already.

        .form-group
          a.btn.btn-github(href='/auth/github')
            i.fa.fa-github
            | Sign in with GitHub

block content
  div(class=user?"":"opaque")
    block signedin
